<div class="col-md-8">

    <div class="card">
        <div class="card-header">
            Konwersacja z Kontakt 1
        </div>
        <div class="card-body">
            <div class="message">
                <div class="message-received">
                    <p>Kontakt 1: Witaj!</p>
                </div>
                <div class="message-sent">
                    <p>Ty: Cześć! Jak się masz?</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Napisz wiadomość...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Wyślij</button>
                </div>
            </div>
        </div>
    </div>