<div class="col-md-8 mt-5" *ngIf="test">
    <div class="card">
        <div class="card-header">
            Czat z :{{ test[0]?.from }}
        </div>
        <div class="card-body">
            <div class="message" *ngFor="let msg of test">
                <div class="message-received" *ngIf="msg?.type === 'recived'">
                    <p>{{ msg.from }}: {{ msg.text }}</p>
                </div>
                <div class="message-sent" *ngIf="msg?.type === 'sent'">
                    <p>Ty: {{ msg.text }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Napisz wiadomość..." #message>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="sendMsg()">Wyślij</button>
                </div>
            </div>
        </div>
    </div>
</div>