<div class="container my-5">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
        <div class="row justify-content-center text-center mb-4">
            <div class="col-8 col-md-4">
                <label for="email">Adres email</label>
                <input type="email" id="email" class="form-control" placeholder="e-mail" formControlName="email">
                <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched"
                    style="color: red;">Podany e-mail ma nieprwadiłowy format.</span>

            </div>
        </div>
        <div class="row justify-content-center text-center mb-4">
            <div class="col-8 col-md-4">
                <label for="username">Hasło</label>
                <input type="password" id="password" class="form-control" placeholder="password"
                    formControlName="password">
                <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
                    style="color: red;">Hasło powinno zawierać conajmniej 6 znaków.</span>
            </div>
        </div>
        <div class="row justify-content-center text-center mb-4" *ngIf="!loginMode">
            <div class="col-8 col-md-4">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" id="username" class="form-control" placeholder="username" formControlName="username">
                <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched"
                    style="color: red;">Nazwa użytkownika jest już
                    zajęta</span>
            </div>
        </div>
        <div *ngIf="error" class="row justify-content-center text-center">
            <p style="color: red;">{{error}}</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="d-flex justify-content-center">
                    <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary me-3">{{!loginMode ?
                        "Register" :
                        'Login'}}</button>


                    <button (click)="switchMode()" type="button" class="btn btn-outline-success">{{!loginMode ?
                        "Switch to login" : "Switch to Register" }}</button>
                </div>
            </div>
        </div>
    </form>
</div>