<div class="container-fluid pt-5">
    <form class="col-6">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control" placeholder="użytkownik">
        </div>

        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" class="form-control" rows="2"></textarea>
        </div>

        <button type="button" class="btn btn-primary"
            (click)="sendMessage('jarek12', 'halo halo tu darek')">Wyślij</button>
    </form>
</div>