<div *ngIf="userId">
    <div class="container-fluid col-12 mt-5" *ngFor="let item of userItems; let i = index">
        <a class="d-flex col-8" style="cursor: pointer;">
            <div *ngFor="let img of item.imgUrl; let c = index">
                <img [src]="img.img" alt="item img">

            </div>
            <div class="">
                <div>
                    <p>{{item.name}}</p>
                    <p>{{item.itemDescription}}</p>
                    <p>{{item.price}}</p>
                </div>
            </div>
        </a>
        <button class="btn btn-primary" type="button" (click)="editItem(i)">Edytuj</button>
        <button class="btn btn-primary" type="button" (click)="deleteItem(i)">Usuń</button>
    </div>
</div>