<div class="container-fluid pt-5">
    <div class="row col-6 mx-auto">
        <div class="row">
            <img src="" alt="Awatar użytkownika">
            <h5>username: username1</h5>
            <h5>e-mail: email@example.com</h5>
        </div>

        <div class="row d-flex flex-column">
            <button class="btn btn-outline-primary col" [routerLink]="['password-edit']">Zmień hasło</button>
            <button class="btn btn-outline-primary col" [routerLink]="['add']">Dodaj ogłoszenie</button>
            <button class="btn btn-outline-primary col" [routerLink]="['messages']">Wiadomości</button>
        </div>

        <div class="row">
            asdas
        </div>
    </div>
</div>