<div *ngFor="let item of listOfDataItems; let i = index" class="text-center container mt-5 bg-light col-12">
    <a [routerLink]="[i]" class="col-12 row" style="cursor: pointer;">
        <div class="col-4" *ngFor="let itemUrl of item.imgUrl">
            <img [src]="itemUrl.img" alt="">
        </div>
        <div class="col-4 text-left">
            <div class="m-2 text-left">
                <p>{{item.name}}</p>
                <p>{{item.itemDescription}}</p>
            </div>
        </div>
        <div class="col-4 row align-self-end">
            <button class="btn btn-outline-success justify-content-end ">{{item.price}}</button>
        </div>
    </a>
</div>