<!-- <a style="cursor: pointer;">
    <div *ngFor="let item of listOfItems; let i = index" class="d-flex container mt-5 shadow-sm">
        <div>
            <img [src]="item.img" alt="">
        </div>
        <div class="justify-content-between">
            <div class="d-flex">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet corporis saepe ipsa
                    doloremque.
                    Minima, Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate amet corporis saepe ipsa
                    doloremque. Minima?</p>
                <p>4999zl</p>
            </div>
            <p class="mt-auto pt-5">22.08.2021</p>
        </div>
    </div>
</a> -->
<div class="container">
    <!-- <app-search-list></app-search-list> -->
    <router-outlet></router-outlet>
</div>