<div class="container d-flex justify-content-between pt-5 bg-white pb-5">
    <div class="d-flex align-items-center justify-content-center col-2">
        <button (click)="previousSlide()" class="btn btn-outline-primary fs-2">
            &lt;
        </button>
    </div>
    <div class="text-center col-8">
        <img [src]="mainItem?.imgUrl" alt="" class="img img-fluid" style="max-width: 250px;">
        <p>{{mainItem?.name}}</p>
        <p>{{mainItem?.price}}zl</p>
        <button class="btn btn-primary">Kup</button>
    </div>
    <div class="d-flex align-items-center justify-content-center col-2">
        <button (click)="nextSlide()" class="btn btn-outline-primary fs-2">&gt;</button>
    </div>
</div>

<h1 class="text-center mt-5">Nasi użytkownicy dodali</h1>

<div class="container-fluid bg-light" *ngIf="!error">
    <div class=" container">
        <div class="row">
            <a [routerLink]="['/search', i]" *ngFor="let item of itemsData; let i = index"
                class="col-12 col-sm-6 col-md-4 col-lg-3 p-4 custom shadow-sm">
                <div class="text-center">
                    <div *ngFor="let img of item.imgUrl">
                        <img [src]="img.img" alt="" class="img img-fluid">
                    </div>
                    <p>{{item.name}}</p>
                    <p>{{item.itemDescription}}</p>
                    <p>{{item.price}}</p>
                    <button class="btn btn-primary">Kup</button>
                </div>
            </a>
        </div>
    </div>
</div>