<div class="container-fluid pt-5">
    <form class="col-6">
        <div class="mb-3">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input type="password" id="oldPassword" class="form-control" placeholder="old">
        </div>

        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" id="newPassword" class="form-control" placeholder="new">
        </div>

        <div class="mb-3">
            <label for="repeatPassword" class="form-label">Repeat Password</label>
            <input type="password" id="repeatPassword" class="form-control" placeholder="repeat">
        </div>

        <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-danger">Clear</button>
            <button type="submit" class="btn btn-outline-success">Confirm</button>
        </div>
    </form>
</div>